.more-notes{
    width: 100%;font-size: 22px;font-weight: bold;text-align: right;margin-top: 50px;
}

.service-list{
    text-align: center;padding: 50px 0;
}
.service-list a{
    display: block;width: 160px;height: 160px;border-radius: 80px;line-height: 160px;margin: 0 auto;color: #17bed2;font-size: 50px;background-color: white;border: #17bed2 1px solid;
}
.service-list a:hover{
    font-size: 60px;color: white;background-color: #17bed2;
}
.service-list .service-list-info{
    padding: 28px;
}